@page "/Login"
@inherits LoginBase
@* Possible query strings: ?email=email&redirectTo=uri  *@
@* @page "/Login?returnUrl={uri:string}" *@
@* @page "/Login?email={email:string}&returnUrl={uri:string}" *@


<div class="hero-overlay"/>
<ContentWrapper>
  <div class=" d-flex w-100 h-100 justify-content-center align-items-center position-relative">
    <div class="bg-opacity-50 position-relative d-flex flex-column align-items-center p-3 bg-dark text-white rounded-5 border w-100 max-w-30_125 px-3">
      <p class="form-title text-center fw-600 text-2">Connexion</p>
      @if (IsLoading)
      {
        <DisplaySpinner/>
      }

      @* Show here error from the server when login failed *@
      @if (ErrorFromServer != null)
      {
        <div class="error-from-server ">
          <p class="text-danger text-xs">
            <i class="fad fa-times"/>
            @ErrorFromServer
          </p>
        </div>
      }
      <div class="w-100 ">
        <EditForm Model="@UserInputs" OnValidSubmit="OnSubmit" class="position-relative">
          <DataAnnotationsValidator/>
          @* <ValidationSummary/> *@
          <div class="d-flex flex-column gap-3 ">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">
                <i class="fas fa-envelope"/>
                <span>
                  Adresse email
                </span>
              </label>
              <InputText @bind-Value="@UserInputs.Email" class="text-xs form-control rounded" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse email"/>
              <div class="text-xs">
                <ValidationMessage For="@(() => UserInputs.Email)"/>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="form-label">
                <i class="fas fa-lock"/>
                <span>
                  Entrez votre mot de passe
                </span>
              </label>
              <InputText @bind-Value="@UserInputs.Password" type="password" class="text-xs form-control rounded" id="password" aria-describedby="password" placeholder="Entre votre mot de passe"/>
              <div class="text-xs">
                <ValidationMessage For="@(() => UserInputs.Password)"/>
              </div>
            </div>
            <button class="form-submit-btn btn" disabled="@IsLoading" type="submit">Se connecter</button>
          </div>
          <p class="small">
            Vous n'avez pas de compte ? <a href="/register">Inscrivez-vous</a>.
          </p>
        </EditForm>
      </div>
    </div>
  </div>
</ContentWrapper>
